.app {
    text-align: center;
}

.board {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 4px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 2px solid rgb(0, 0, 0);
}

.winner-message{
    margin-top: 20px;
}

button{
    background-color: rgb(46, 177, 63);
    color: rgb(5, 119, 62);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    
}